nav {
  background-color: #1c2b35;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

nav a {
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
}
